mainColor = #0BA280

bgLightColor1 = #F0F0F0
bgLightColor2 = #F9F9F9
bgLightColor3 = #FAFAFA

fontColor1 = #555454
fontColor2 = #666666;
fontColor3 = #969696

.page-title {
    font-size: 20px;
    color: fontColor2;
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: solid 1px bgLightColor1;
}

.page-content {
    margin-top: 30px;
}
